In [18]:
%load_ext sql
%sql sqlite:///PS3.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Homework #3
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on Canvas. Follow the instructions on the file! Upload the file at Canvas.


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [20 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [ ]:
%sql select * from hospital;

 * sqlite:///PS3.db
Done.

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition doesn't hold, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [10 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [20]:
%%sql 
SELECT *
FROM hospital h1, hospital h2
WHERE (h1.provider = h2.provider) 
 and not (h1.hospital = h2.hospital and
          h1.address = h2.address and
          h1.city = h2.city and
          h1.state = h2.state and
          h1.zip = h2.zip and
          h1.county = h2.county and
          h1.phone_number = h2.phone_number and
          h1.hospital_type = h2.hospital_type and
          h1.hospital_owner = h2.hospital_owner and
          h1.emergency_service = h2.emergency_service and
          h1.condition = h2.condition and
          h1.measure_code = h2.measure_code) LIMIT 1;

 * sqlite:///PS3.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2', 10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Heart Attack', 'AMI-1')]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [21]:
%%sql 
SELECT *
FROM hospital h1, hospital h2
WHERE (h1.zip = h2.zip) and not (h1.city = h2.city and h1.state = h2.state)

 * sqlite:///PS3.db
Done.

[]

Problem 2: Superkeys & Decompositions [25 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [5 points]

Is it correct that ${A,B}$ is a superkey?

In [22]:
answer = True
explanation = "Yes. The closure of {AB}+ ={ABCDEF}"

### Part (b) [5 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [23]:
answer = False
explanation = "The intersection of attributes in relation CDE and EFA is not a superkey"

### Part (c) [5 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [24]:
answer = False
explanation = "No because A -> D is not present in the closure of unions of FDs on the three relations"

### Part (d) [5 points]

Is the functional dependency $\{A\} \rightarrow \{E,F\}$ logically implied by FDs present in the relation?

In [25]:
answer = True
explanation = "Yes. The closure of {A}+ is {A,C,D,E,F}."

### Part (e) [5 points]

Is it correct that relation $S$ is in BCNF?

In [26]:
answer = False
explanation = "No. The dependency A -> D violates the BCNF condition as {A} is not a superkey."

Problem 3: Relational Algebra [25 points]
---------

Consider the following relational schema for conference publications:
*  `Article(artid, title, confid, numpages)`
*  `Conference(confid, name, year, location)`
*  `Author(artid, pid)`
*  `Person(pid, name, affiliation)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [8 points]

Output the name of every person affiliated with `UW-Madison` who has published an article in a 2021 conference.

$$ \pi_{name}( \sigma_{affiliation="UW-Madison"} (Person) \Join Author \Join Article \Join \pi_{confid}(\sigma_{year=2021} (Conference)))$$

### Part (b) [9 points]

Output the names of the people who coauthored an article with `John Doe`. Be careful: a person cannot be coauthor with herself!

$$\pi_{oname} (\sigma_{name="John\: Doe"}(Person) \Join Author \Join  \rho_{pid \rightarrow oid} (Author)\Join \rho_{pid \rightarrow oid, {name \rightarrow oname}}\sigma_{name \neq "John\: Doe"}(Author)))$$

### Part (c) [8 points]

Translate the following SQL query to Relational Algebra.

In [27]:
%%sql
SELECT pid, COUNT(A.artid)
FROM Article A, Conference C, Author U
WHERE A.confid = C.confid AND C.name = "PODS" AND U.artid = A.artid
GROUP BY pid ;

 * sqlite:///PS3.db
(sqlite3.OperationalError) no such table: Article
[SQL: SELECT pid, COUNT(A.artid)
FROM Article A, Conference C, Author U
WHERE A.confid = C.confid AND C.name = "PODS" AND U.artid = A.artid
GROUP BY pid ;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

$$\gamma_{pid, COUNT(artid)} (Article \Join \sigma_{name ="PODS"}(Conference) \Join Author)$$